.main-page-login {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.login-form {
    width: 100vw;
    height: 100%;
    display: grid;
    place-items: center;
}
.login-form-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 6%;
    border-radius: 30px;
    background: 
    linear-gradient(
    245deg,
    var(--color-4),
    hsl(213, 35%, 51%));
    color: var(--color-3);
    box-shadow: 
    0px 20px 20px 1px rgb(131, 146, 173),
    0px 0px 4px 4px rgba(11, 11, 11, .15);
}
#login-auth {
    display: grid;
    place-content: center;
    gap: 20px;
}
.username-input-container,
.login-password-container
{
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 20px;
    place-items: center;
}
#login-btn {
    width: 100px;
    place-self: end;
    font-size: 1.2rem;
    padding: 2%;
    border-radius: 10px;
    background: var(--color-1);
    border: 2px transparent solid;
    color: white;
    transition: all 300ms ease-in;
}
input {
    width: 100%;
    border-radius: 10px;
    background: transparent;
    padding: 10px;
    border: 2px solid var(--color-1);
    font-size: 1.3rem;
    font-family: inherit;
    color: var(--color-3);
    transition: all 300ms ease-in;
    position: relative;
}
input:hover {
    border: 2px solid var(--color-3);
}
input:focus {
    border: 2px solid var(--color-3);
    outline: none;
}
label {
    text-align: end;
    font-size: 1.6rem;
}
#login-btn:hover {
    background: transparent;
    border: 2px solid var(--color-3);
}